main {
    padding: 150px 0 30px 0;

    @media screen and (max-width: 750px) {
        padding: 100px 0 30px 0;
    }

    section {
        width: 80%;
        margin: 0 auto;

        @media screen and (max-width: 750px) {
            width: 100%;
            padding: 0 10px;
        }

        .content {
            display: grid;
            grid-template-columns: 50% 50%;
            margin-bottom: 80px;

            @media screen and (max-width: 750px) {
                grid-template-columns: 1fr;
            }

            .first {
                display: grid;
                grid-template-columns: 25% 75%;

                @media screen and (max-width: 750px) {
                    margin-bottom: 80px;
                }
                
                .image {

                    img {
                        width: 40%;
                        margin: 5px 30px 0 auto;
                        display: block;

                        @media screen and (max-width: 750px) {
                            width: 50%;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    font-family: $font1;
                    color: $blue;
                }
            }
            .second {
                display: grid;
                grid-template-columns: 25% 75%;
                
                .image {

                    img {
                        width: 50%;
                        margin: 5px 25px 0 auto;
                        display: block;

                        @media screen and (max-width: 750px) {
                            width: 60%;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    font-family: $font1;
                    color: $blue;
                }
            }
        }
    }
}